body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: rgb(240, 236, 232);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li{
  margin: 15px;
  cursor: grab;
}
.container{
 
  display: flex;
  justify-content: center;
  align-items: center;

}